tenacity==7.0.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4
terminado==0.10.1
testpath==0.5.0
threadpoolctl==2.2.0
torchviz==0.0.2
tornado==6.1
tqdm==4.61.1
traitlets==5.0.5
typing-extensions==3.10.0.0
urllib3==1.26.4
uvicorn==0.15.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.1.0
Werkzeug==1.0.1
wrapt==1.12.1
xmltodict==0.12.0
yarl==1.7.2
tifffile
tokenize-rt
PyWavelets
PyYAML
pyzmq
ray
gym